* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

a:hover {
    color: grey;
    cursor: pointer;
}

a:visited {
    color: purple;
}

.folders{
    display:inline-block;
    width: 30%;
    height:500px;
    border: 1px grey solid;
    float: left;
}

.folder-list {
    list-style-type: none;
    margin-right: 25px;

}

.folder-li {
    border: 1px grey solid;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
