.note-main {
    width:65%;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    float: right;
}

.fa-arrow-left {
    font-size: 40px;
    transition: transform .2s;
}

.fa-arrow-left:hover {
    transform: scale(1.5);
}

#go-back {
    float: left;
    padding-left: 20px
}

li{
    list-style-type: none;
}

.folder-name-main {
    padding-left: 40px;
    display: flex;
    border: none;
    width: 29%;   
    font-size: 40px;
}