.notes-container {
    display: flex;
    float: right;
    flex-direction: column;
    width: 60%;

}

.notes {
    margin-top:7px;
    border: 2px grey solid;
    border-radius: 4px;
    height: 500px;
    overflow: auto;
  
}

.notes-list {
    list-style-type: none;
    padding: 40px;
    width: 80%;
}

button {
    width: 60px;
    margin: auto;
    border-radius: 4px;
}

.notes-li {
    border: 1px grey solid;
    width: 100%;

}

.fa-plus {
    font-size: 40px;
    color: green;
    transition: transform .2s;
    float: right;
    margin-right: 38%;
    width: 30%;
}

.fa-plus:hover {
    cursor: pointer;
    transform: scale(1.5);
}

